<link rel="stylesheet" href="/styles.css">
<link rel="stylesheet" href="/styles_typed_colors.css">

<style>
  .create-a-post {
    display: flex;
    justify-content: space-between; /* even spacing */
    gap: 0.5rem;
    min-width: 5%; /* optional: prevents cramming */
    overflow-x: auto;
    padding: 1rem;
  }

  .create-a-post a {
   flex: 1;
   text-align: center;
   padding: 0.5rem;
   background-color: #2d2d2d;
   border-radius: 8px;
   text-decoration: none;
   transition: background-color 0.2s ease;
  }

</style>

<div style="text-align:center;background-color:#101010;border-radius:10px;">
  <h2 style="text-align:center;color:#f0f0f0;">Create a post</h2>
  <div class="create-a-post">
    <a href="/posts/new/text" style="background-color:#000020;" data-media="text">Text</a>
    <a href="/posts/new/image" style="background-color:#202000;" data-media="image">Image</a>
    <a href="/posts/new/video" style="background-color:#200000;" data-media="video"> Video</a>
    <a href="/posts/new/audio" style="background-color:#002000;" data-media="audio">Audio</a>
    <a href="/posts/new/file" style="background-color:#200020;" data-media="file">File</a>
    <a href="/posts/new/link" style="background-color:#002020;" data-media="link">Link</a>
    <a href="/posts/new/product" style="background-color:#201000;" data-media="product">Product</a>
    <a href="/posts/new/poll" style="background-color:#100020;" data-media="poll">Poll</a>
    <a href="/posts/new/ama" style="background-color:#202020;" data-media="ama">AMA</a>
    <a href="/posts/new/tipjar" style="background-color:#181818;" data-media="tipjar">Tip Jar</a>
  </div>
</div>
