<header>
  <nav style="text-align:right;">
    <!-- Optional UI control -->

    <% if (session && session.userId) { %>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/login">Login</a> |
      <a href="/signup">Sign up</a>
    <% } %>
  </nav>
</header>
