<head>
  <meta charset="UTF-8">
  <title>fansHQ</title>
  <link rel="icon" type="image/png" href="/HQgold.png">
</head>

<header>
  <nav style="text-align:right;">
    <!-- Optional UI control -->

    <% if (session && session.userId) { %>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/login">Login</a> |
      <a href="/signup">Sign up</a>
    <% } %>
  </nav>
  <img src="/fansHQgoldpic.png" alt="" style="margin: 0 auto; display:block;">
</header>
