<h1>Create audio</h1>
<form action="/posts" method="POST">
  <input type="hidden" name="audio" value="text">
  <input name="title" placeholder="Title" required><br>
  <textarea name="content" placeholder="Write your post..." required></textarea><br>
  <button type="submit">Post</button>
</form>
