<h1>Create video</h1>
<form action="/posts" method="POST">
  <input type="hidden" name="media_type" value="video">
  <input name="title" placeholder="Title"><br>
  <textarea name="content" placeholder="Write your post..." required></textarea><br>
  <button type="submit">Post</button>
</form>
