<form action="/posts/new" method="POST">
  <input type="hidden" name="media_type" value="poll">
  <label>Title:</label>
  <input type="text" name="title"><br>

  <label>Question:</label>
  <textarea name="content"></textarea><br>

  <label>Options:</label><br>
  <% for (let i = 1; i <= 10; i++) { %>
    Option <%= i %>: <input type="text" name="option_<%= i %>" placeholder="Option <%= i %>"><br>
  <% } %>

  <button type="submit">Create Poll</button>
</form>
